.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 3%;
    width: 90%;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    border: none;
    background: none;
    outline: none;
    width: 10%;
    cursor: pointer;
  }
  .sendIcon{
    width: 30px;
  }